In [1]:
!pip install panda

Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.12/site-packages (from panda) (69.5.1)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from panda) (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->panda) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->panda) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests->panda) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests->panda) (2024.7.4)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7239 sha256=d7e029ec094ff7f3f06a4dc09f671a3c3d3f8dc49edc8c977f2ea55c4a051cee
  Stored in directory: /Users/kpose/Library/Caches/pip/wheels/98/41/5b/6ca54e0b6a35e1b7248c12f56fcb753dfb7717fefaa0fb45f5
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1

In [8]:
import pandas as pd
pd.__version__

'2.2.2'

In [10]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

zsh:1: command not found: wget

In [5]:
import pandas as pd
housingData = pd.read_csv("housing.csv")

In [7]:
housingData.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
housingData.shape[1]

10

In [7]:
import pandas as pd

housingData = pd.read_csv("housing.csv")
housingData.isnull().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [13]:
housingData['ocean_proximity'].nunique()

5

In [16]:
data_near_bay = housingData.loc[housingData["ocean_proximity"] == "NEAR BAY"]
print(data_near_bay)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
19067    -122.45     38.28                20.0       3306.0           503.0
19068    -122.47     38.29                14.0       3732.0           846.0
19069    -122.45     38.27                25.0       5024.0           881.0
19077    -122.49     38.27                 8.0       5092.0           988.0
19104    -122.51     38.17                 8.0       5875.0          1115.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
19067      1374.0       460.0         5.7984            297600.0
19068      1277.0       775.0         2.5658            208000.0
19069      1994.0       838.0         4.2237            262300.0
19077      1657.0       936.0         3.5625            213200.0
19104      2808.0      1029.0         3.6392            246300.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
19067        NEAR BAY
19068        NEAR BAY
19069        NEAR BAY
19077        NEAR BAY
19104        NEAR BAY

[2290 rows x 10 columns]

In [21]:
data_near_bay["median_house_value"].mean()

259212.31179039303

In [23]:
total_bedrooms_average = housingData["total_bedrooms"].mean()

In [27]:
print(total_bedrooms_average)

537.8705525375618

In [29]:
housingData["total_bedrooms"] = housingData["total_bedrooms"].fillna(total_bedrooms_average)

print(housingData["total_bedrooms"].mean())

537.8705525375617